<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    {% block extrascript %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <a class="p-2 text-white" href="{% url 'home' %}">Главная</a>
        <a class="p-2 text-white" href="{% url 'myProfile' %}">Мой профиль</a>
    </div>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>