{% extends 'memories/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h3>Привет, дорогой друг! Хочешь с теплотой вспоминать все места, в которых ты бывал? Или же просто хочешь увидеть все наглядно? Тогда тебе сюда.</h3>
    <h3>Здесь, ты можешь выбрать любое место на карте, в которым ты находился. Добавь название, ассоциируемое с этим местом.</h3>
    <h3>Напиши комментарий, который заставит вспомнить тебя о прекрасных днях, проведенных там.</h3>
    <h3>Или же просто отмечай, чтоб не забыть;)</h3>
    <h3>Авторизируйся ниже и начинай добавлять свои воспоминания</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Войти">
    </form>
{% endblock %}
