{% extends 'memories/base.html' %}
{% load crispy_forms_tags %}

{% block extrascript %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ api_key_yandex }}&lang=ru_RU"
            type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init() {
            let myPlacemark, myMap = new ymaps.Map('map', {
                center: [56.82, 60.65],
                zoom: 10,
                controls: ['zoomControl', 'geolocationControl', 'searchControl'],
                searchControlProvider: 'yandex#search'
            });

            myMap.events.add('click', function (e) {
                let coords = e.get('coords');
                document.getElementById('id_latitude').value = coords[0];
                document.getElementById('id_longitude').value = coords[1];
                document.getElementById("memory_place").style.display = 'block';
                // Если метка уже создана – просто передвигаем ее.
                if (myPlacemark) {
                    myPlacemark.geometry.setCoordinates(coords);
                }
                // Если нет – создаем.
                else {
                    myPlacemark = createPlacemark(coords);
                    myMap.geoObjects.add(myPlacemark);
                    // Слушаем событие окончания перетаскивания на метке.
                    myPlacemark.events.add('dragend', function () {
                        getAddress(myPlacemark.geometry.getCoordinates());
                    });
                }
                getAddress(coords);
            });

            // Создание метки.
            function createPlacemark(coords) {
                return new ymaps.Placemark(coords, {
                    iconCaption: 'поиск...'
                }, {
                    preset: 'islands#violetDotIconWithCaption',
                    draggable: true
                });
            }

            // Определяем адрес по координатам (обратное геокодирование).
            function getAddress(coords) {
                myPlacemark.properties.set('iconCaption', 'поиск...');
                ymaps.geocode(coords).then(function (res) {
                    let firstGeoObject = res.geoObjects.get(0);
                    myPlacemark.properties
                        .set({
                            // Формируем строку с данными об объекте.
                            iconCaption: [
                                // Название населенного пункта или вышестоящее административно-территориальное образование.
                                firstGeoObject.getLocalities().length ? firstGeoObject.getLocalities() : firstGeoObject.getAdministrativeAreas(),
                                // Получаем путь до топонима, если метод вернул null, запрашиваем наименование здания.
                                firstGeoObject.getThoroughfare() || firstGeoObject.getPremise()
                            ].filter(Boolean).join(', '),
                            // В качестве контента балуна задаем строку с адресом объекта.
                            balloonContent: firstGeoObject.getAddressLine()
                        });
                });
            }
            function Test1(latitude, longitude, place) {
            myGeoObject = new ymaps.GeoObject({
                // Описание геометрии.
                geometry: {
                    type: "Point",
                    coordinates: [latitude, longitude]
                },
                // Свойства.
                properties: {
                    // Контент метки.
                    hintContent: place
                }
            });
            myMap.geoObjects.add(myGeoObject)
        }
        {% for memory in memories %}
            Test1({{ memory.latitude|stringformat:".2f" }},{{ memory.longitude|stringformat:".2f" }},"{{ memory.place }}")
        {% endfor %}
        }
        function functionToExecute(self) {
            document.getElementById("map").style.display = 'block';
            self.style.display = 'none';
        }
    </script>
{% endblock %}

{% block title %}
Мой профиль
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        table {
            border-collapse: separate;
            border-spacing: 5px 5px;
            max-width: 1000px;
            width: 100%;
            background: lightskyblue;
            color: black;
            font-family: cursive
        }
        .requiredField {
            float: left;
        }
        td, th {
            background: lightblue;
            padding: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="margin-left: -200px">
        {% if memories %}
            <table>
                <caption style="caption-side: top; text-align: center; font-size: 30px;"><b>Мои воспоминания</b></caption>
                <col style="width:1%">
                <col style="width:10%">
                <col style="width:50%">
                <th>№</th>
                <th>Название</th>
                <th>Описание</th>
                {% for memory in memories %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ memory.place }}</td>
                        <td>{{ memory.comments }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="blueborder" style="caption-side: top; text-align: center; font-size: 30px; margin-left: 150px; margin-top: 50px;">У вас нет ни одного воспоминания</div>
        {% endif %}
    </div>
    <div class="form-group" >
        <div id="memory_place" style="display: none; margin-right: -150px;">
            <form class="blueborder" style="float: right; text-align: right; background: lightblue; padding: 7px;" method="post">
                {% csrf_token %}
                <div>{{ form|crispy }}</div>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
        </div>
        <div class="blueborder" id="map" style="width: 900px; height: 600px; display: none;margin-top: 30px; margin-left: -150px;"></div>
        <button style=" margin-left: 425px; margin-top: 150px" type="submit" class="btn btn-primary" onclick="functionToExecute(this)">Добавить воспоминание</button>
    </div>
{% endblock %}
